/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1 {
    background-color: #590212;
}

.color-2 {
    background-color: #0D0D0D;
}

.color-3 {
    background-color: #404040;
}

/* Textures or Patterns*/

.pattern-1 {
    background: url(../img/concrete_seamless.png);
}

.pattern-2 {
    background: url(../img/footer_lodyas.png);
}

.pattern-3 {
    background: url(../img/fresh_snow.png);
}

/* Imagery */


/* Icons */


/* Typography */


/* Forms */


/* Tables */


/* Cards */