/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1 {
    background-color: #590212;
}

.color-2 {
    background-color: #0D0D0D;
}

.color-3 {
    background-color: #404040;
}

/* Textures or Patterns*/


/* Imagery */


/* Icons */


/* Typography */


/* Forms */


/* Tables */


/* Cards */